* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0px 25vh 0px 25vh;
    align-items: center;
    text-align: center;
}

.mainText {
    font-size: 20px;
}

.content button {
    width: 140px;
    height: 50px;
    
}